.TinajaBody {
  text-align: center;
  h1 {
    padding-top: 2rem;
    padding-bottom: 10rem;
    font-size: 3rem;
  }
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 450px;
  }
  p {
    margin: 10rem 0;
    font-size: 2rem;
  }
}
