@import '../../breakpoints';

.CartRight {
  margin-top: 5rem;
  @include breakpoint-up(tablet) {
    margin-top: 0;
  }
  svg {
    margin-bottom: -2.3rem;
    margin-top: -0.9rem;
    margin-left: -1.5rem;
    font-size: 6rem;
    opacity: 0.8;
    @include breakpoint-up(tablet) {
      font-size: 8rem;
    }
  }
  display: flex;
  flex-direction: column;
  > h2 {
    font-style: normal;
    font-size: 2.6rem;
    font-weight: 400;
  }
  > p {
    opacity: 0.8;
    font-size: 1.6rem;
  }
}
