@import '../../breakpoints';
@import '../../variables';

.QuoteWraper {
  margin-left: 0rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.ColLeft {
  padding-bottom: 40px;
  padding-left: 10px;
}

.ColRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: center;
  @include breakpoint-up(xltablet) {
    font-size: 2.2rem !important;
    padding-left: 6rem;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: $primary-color;
  }
}
