@import '../../breakpoints';
@import '../../variables';
@import '../../';

.HeaderBurger {
  position: absolute;
  z-index: 1;
  right: 3.5rem;
  top: 4.5rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;
  @include breakpoint-up(tablet) {
    display: none;
  }
  @include breakpoint-up(phone) {
    right: 5em;
  }
  > span {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 28px;
    height: 3px;
    background: black;
    @include transition-ease;
    &::before {
      content: '';
      position: absolute;
      right: 0rem;
      top: -8px;
      width: 28px;
      height: 3px;
      background: black;
      @include transition-ease;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0rem;
      top: 8px;
      width: 21px;
      height: 3px;
      background: black;
      @include transition-ease;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

.MenuBurgerPosition {
  @include transition-ease;
  position: fixed !important;
}
