@import '../../breakpoints';
@import '../../variables';

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 3.5rem;
  top: 2.8rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  @include breakpoint-up(tablet) {
    display: none;
  }
  @include breakpoint-up(phone) {
    right: 5em;
  }
  &__burger {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 28px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      right: 0rem;
      top: -8px;
      width: 28px;
      height: 3px;
      background: black;
      transition: all 0.5s ease-in-out;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0rem;
      top: 8px;
      width: 21px;
      height: 3px;
      background: black;
      transition: all 0.5s ease-in-out;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}
