@import '../../breakpoints';
@import '../../variables';

.HeaderMenu {
  @include breakpoint-down(tablet) {
    display: none;
  }

  margin-left: auto;
  display: flex;
  justify-content: center;
  > li {
    font-size: 1.6rem;
    margin-left: 2.2rem;
    a:hover,
    a:active,
    a.active {
      // color: #95bcf0;
      padding-bottom: 0.6rem;
      border-bottom: 4px solid $primary-color;
    }
  }
}
