@import 'grid';
@import 'variables';
@import 'breakpoints';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: $bg-primary;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

.gb-container {
  color: #2b2b2b;
  background-color: #ffffff;
}

.gb-inside-container {
  padding: 80px 20px 120px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  // height: 622px;
  @include breakpoint-up(tablet) {
    padding: 120px 20px;
  }
}

.hr {
  margin-left: auto;
  margin-right: auto;
  height: 0.1rem;
  max-width: 70%;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    $primary-color,
    rgba(0, 0, 0, 0)
  );
}

.hr,
.hr-xl {
  max-width: 100%;
}

.btn-outline {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.32rem;
  padding: 10px 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  text-transform: uppercase;
  transition: opacity 300ms ease-in-out;
  &:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
  }
}
