@import '../../styles/breakpoints';

.slider {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include breakpoint-up(tablet) {
    height: 70vh;
  }
}

.imageslider {
  // width: 1000px;
  // height: 600px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  @include breakpoint-up(tablet) {
    width: 800px;
    height: 500px;
  }
  @include breakpoint-up(xldesktop) {
    width: 1000px;
    height: 560px;
  }
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
