@import '../../variables';

.ServicesTinajaWrapper {
  display: flex;
  flex-direction: column;
  min-height: 422px;
  background-color: #2e3d4d;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    background: linear-gradient(
        to right,
        rgba($primary-gradient, 0.1),
        rgba($primary-gradient, 0)
      ),
      url('../../../assets/images/tinaja.jpg') center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: inherit;
    opacity: 0.4;
  }
}

.ServicesTinaja__content {
  padding: 160px 20px;
  z-index: 1;
  position: relative;
  h3 {
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 0.33rem;
  }
}

.ButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  clear: both;
  margin: 0;
  justify-content: center;
}
